<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <script src="script.js"></script>
    <title>Best Szop</title>
</head>
<body>
    <header>
        <h1>Best Szop</h1>
        <nav>
            <ul>
                <li><a href='/'>Main Page</a></li>
                <li><a href='/products/add'>add a new product</a></li>
                <li><a href='/cart'>Pokaz koszyk</a></li>
                <li>View Cart</li>
            </ul>
        </nav>
    </header>
    <br/>
    <%- include('./../partials/errorMessage.ejs') %>
    <%- body %>
    <br/>
    after
</body>
</html>