<form method="POST" action="/user/changePassword">
    <h4>Change password:</h4>
    <label>New password:</label><input type="password" name="password" required/><br/>
    <label>Repeat new password:</label><input type="password" name="passwordRepeat" required/><br/>
    <input type="submit" value="Change"/>
</form>