.productImage{
    display: none;
}

.photoControl{
    cursor: pointer;
}

.photoControl:hover{
    background-color: lightgray;
}

table td{
    border: 2px solid black;
}
table{
    border: 2px solid black;
}